<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计</title>

</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

<div id="total"></div>
    <script>
        var chart=[];
            for(var i=0;i<{{ count }};i++)
                {
                    $("#total").append('<div id="'+i+'" style="width:1000px; height:600px;"></div>');
                    chart[i] = echarts.init(document.getElementById(i+""), 'white', {renderer: 'canvas'});
                }
        $(

            function () {

                fetchData(chart);
                setInterval(fetchData, 2000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/bar/{{ id }}",
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                     for(var i=0;i<{{ count }};i++)
                        chart[i].setOption(result[i].data);
                }
            });
        }
    </script>
</body>
</html>